<!DOCTYPE html>
<%- include("header") %>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
<div class="box">


  <%  for (i=0;i<item.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>  <%=item[i]%></p>
    </div>


  <%  } %>

</div>
<div class="box">
  <form class="item" action="/" method="post">
    <input type="text" name="item" placeholder="New Items" autocomplete="off">
    <button type="submit" name="button">+</button>

  </form>
</div>

  </body>
</html>
