<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= ans %></title>
  </head>
  <body>
    <h1><%= ans %></h1>
    <form  action="/ans" method="post">
          <button type="submit" name="button">PlayAgain</button>
    </form>

  </body>
</html>
