<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guess Game</title>
  </head>
  <body>
    <h1>Guess Which Box Got Coin</h1>
    <form  action="/" method="post">
      <button value="0"style="font-size:5rem"type="submit" name="button">?</button>
      <button value="1"style="font-size:5rem"type="submit" name="button">?</button>
      <button value="2"style="font-size:5rem"type="submit" name="button">?</button>
    </form>

  </body>
</html>
